<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>

<body>
    {% set menssage = get_flashed_messages() %}
    {% if menssagem%}
    <div id="form-fundo">
        <h1>LOGIN</h1>
        <h1>@_vctorr @luan_carlos77l</h1>
        <div id="form-frente">
            <form action="/login" id="login" method="post">
                <label for="nome">NOME</label>
                <input type="text" name="nome" id="nome" required placeholder="Digite seu nome"><br> <br>
                <label for="senha" id="senha">SENHA</label>
                <input type="password" name="senha" id="senha" required placeholder="Digite sua senha"><br> <br>
                <button type="submit" id="bnt-login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>ENTRAR
                </button>
            </form>
        </div>
    </div>
</body>

</html>